CHAPTER     text
*.README    text
*.bat       text
*.cpp       text
*.csv       text
*.filters   text
*.java      text
*.dia.ref   text
*.log.ref   text
*.err.ref   text
*.out.ref   text
*.txt.ref   text
*.rng       text
*.sce       text
*.sci       text
*.tst       text
*.vcxproj   text
*.xml       text
*.xsl       text
